<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post">
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" name="name" required></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="email" name="email" required></td>
        </tr>
        <tr>
            <td>Phone</td>
            <td><input type="text" name="phone" required></td>
        </tr>
        <tr>
            <td>Address</td>
            <td><input type="text" name="address" required></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit">Register</button></td>
        </tr>
    </table>
</form>
</body>
</html>